body {
    margin: 0px;
    font-size: 20px;
    /* font-family: 'Balsamiq Sans', cursive; */
    /* font-family: acumen-pro, sans-serif; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ; */
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-style: normal; */
    /* background-color: #091b29; */
    /* background-color: #000000; */
    background-color: #000000;
    color: rgb(231, 224, 224);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #333030;
}

body::-webkit-scrollbar-thumb {
    background: rgb(70, 68, 68);
}

body::-webkit-scrollbar-thumb:hover {
    background: rgb(139, 136, 136);
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    z-index: 999999;
}

.spinner {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 48%;
    left: 48%;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #c94354;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.side-nav {
    top: 0;
    left: 0;
    z-index: 9999999999;
    position: fixed;
    display: none;
}

.queue-side-nav {
    top: 0;
    right: 0;
    z-index: 9999999999;
    position: fixed;
    display: none;
}

.side-nav-list {
    position: fixed;
    left: -100%;
    top: 0;
    width: 300px;
    height: 100vh;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #313131;
    padding: 100px 15px 0;
    transition: all 0.4s linear;
}

.queue-side-nav-list {
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    width: 320px;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #313131;
    padding: 50px 5px 5px;
    transition: all 0.5s linear;
}

.queue-side-nav-list>.queue-list>.sec-heading {
    border-bottom: 0.5px solid #555353;
}

.queue-side-nav-list>.queue-list {
    margin-left: 20px;
}

.side-nav-item {
    display: block;
    margin: 15px 0;
    padding: 0;
    text-align: center;
}

.side-nav-link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

.margin-side-nav {
    margin-left: 12px;
    text-align: left;
}

.side-nav .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 33px;
    border-radius: 5px;
    position: absolute;
    top: 13.5px;
    left: 5px;
    z-index: 9999;
    cursor: pointer;
}

.queue-side-nav .queuehamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 33px;
    border-radius: 5px;
    position: absolute;
    top: 18px;
    right: 5px;
    z-index: 999;
    cursor: pointer;
}

.side-nav .hamburger .bar {
    display: inline-block;
    width: 28px;
    height: 2.5px;
    border-radius: 3px;
    border-radius: 20px;
    background-color: white;
    position: relative;
}

.side-nav .hamburger .bar:after, .side-nav .hamburger .bar:before {
    content: '';
    position: absolute;
    width: 28px;
    height: 2.5px;
    border-radius: 20px;
    background-color: white;
    top: -8px;
    transition: all 0.3s linear;
}

.queue-bar>.material-icons {
    color: #949494;
}

.side-nav .hamburger .bar:after {
    top: 8px;
}

.side-nav .hamburger.close .bar {
    height: 0;
}

.side-nav .hamburger.close .bar:after {
    top: -2px;
    background-color: #fff;
    transform: rotate(135deg);
}

.side-nav .hamburger.close .bar:before {
    top: -2px;
    background-color: #fff;
    transform: rotate(45deg);
}

.slide-in {
    left: 0;
}

.slide-in-right {
    right: 0;
}

.side-bar-search {
    /* width: 270px; */
    margin-right: 5px;
}

.side-bar-search>.search-form {
    width: 240px;
    height: 35px;
    padding: 0px 5px;
    padding-left: 30px;
    font-size: 16px;
    line-height: 35px;
    color: #777777;
    background-color: rgb(26, 26, 26);
    border-radius: 2px;
    /* border: 1px solid transparent; */
    border: 2px solid transparent;
    border-bottom: 1px solid grey;
    box-shadow: 0px 0px 10px rgba(29, 29, 29, 0.55);
}

.side-bar-search>.search-form:focus {
    /* border: 1px solid #3bc8e7; */
    outline: transparent;
    background-color: transparent;
    color: rgb(228, 216, 216);
}

.side-bar-search>.search-icon {
    left: -41%;
    top: 31px;
}

.side-bar-search>.mic-icon {
    position: relative;
    right: -42%;
    bottom: 31px;
}

.side-cover {
    width: 100px;
    height: 60px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.side-cover img {
    width: 100%;
    height: 100%;
}

.top-bar {
    display: flex;
    /* border: 1px solid white; */
    /* padding: 10px; */
    height: 45px;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    top: 0px;
    background-color: transparent;
    /* background: linear-gradient(360deg, rgb(72, 72, 72) 8.98%, rgba(0, 0, 0, 0) 100%); */
    /* background-color: #3e37ae; */
    z-index: 999;
    /* box-shadow: 0px 2px 15px 20px #3e37ae; */
    /* vertical-align: middle; */
}

#logo {
    padding: 0px 0px;
    margin: 0;
}

#logo img {
    width: auto;
    height: 2rem;
    /* border-radius: 50%; */
    /* border-radius: 50%; */
}

.fav-top-bar {
    font-family: sans-serif;
    text-decoration: none;
    font-size: 1.1rem;
    margin-left: 40px;
    align-items: center;
    color: rgb(248, 248, 248);
}

.fav-top-bar i {
    color: #cb1717;
}

.top-bar-left {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.top-bar-right {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.top-bar-search {
    padding: 10px;
}

.search-form {
    height: 33px;
    padding: 0px 40px;
    font-size: 14px;
    line-height: 35px;
    color: #777777;
    background-color: rgba(44, 43, 43, 0.9);
    border-radius: 3px;
    /* border: 1px solid transparent; */
    border: 2px solid transparent;
    box-shadow: 0px 0px 10px rgba(29, 29, 29, 0.55);
}

.search-form:focus {
    /* box-shadow: 0px 0px 10px rgba(59, 200, 231, 0.55); */
    /* border: 1px solid #3bc8e7; */
    border: 1.5px solid white;
    outline: none;
    background-color: transparent;
    color: rgb(223, 213, 213);
}

.search-icon {
    position: relative;
    left: 35px;
    top: 2.9px;
}

.search-icon i:hover {
    color: honeydew;
}

.mic-icon {
    position: relative;
    right: 30px;
    top: 2.6px;
}

.mic-icon i:hover {
    color: honeydew;
}

.color-grey {
    color: grey;
}

.notification-bell {
    padding: 10px;
}

.fa-circle {
    position: absolute;
    color: red;
    font-size: 7px;
    left: 73px;
    bottom: 16px;
    z-index: 5;
}

.user-icon {
    height: 3rem;
    width: 3rem;
    padding: 0px 20px;
}

.user-icon img {
    border-radius: 50%;
    width: auto;
    height: 2.8rem;
}

@media only screen and (max-width: 1090px) {
    #logo {
        margin-left: 35px !important;
    }
    #logo img {
        height: 1.7rem !important;
    }
    .top-bar-right {
        margin-right: 15px !important;
    }
    .user-icon {
        /* margin-left: 35px !important; */
        height: 2.5rem;
        width: 2rem;
        /* padding: 0px 20px; */
        /* padding-right: 0px; */
    }
    .user-icon img {
        height: 2.4rem !important;
    }
    .notification-bell {
        display: none !important;
    }
    .side-nav {
        display: block !important;
    }
    .top-bar-left>.fav-top-bar {
        display: none !important;
    }
    .top-bar-right>.top-bar-search {
        display: none !important;
    }
    #aside-section {
        display: none !important;
    }
    #songs-section {
        top: -50px !important;
        width: 92% !important;
    }
    .artist-info h2 {
        font-size: 2rem !important;
    }
    .about {
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 1010px) {
    .about {
        display: none !important;
    }
    .gradient-container {
        top: 40px !important;
    }
    .artist-details-container {
        top: 20px !important;
    }
    .artist-info h2 {
        font-size: 1.6rem !important;
    }
    #songs-section {
        top: 40px !important;
    }
    /* .track-num{
    visibility:hidden !important; 
} */
    .country {
        top: 25px !important;
        font-weight: normal !important;
    }
    .track-num {
        font-size: 12px !important;
        top: 25px;
        left: 5px;
    }
    #followers {
        bottom: 14px !important;
        font-size: 13px !important;
    }
    #btn-sec {
        position: relative;
        top: 10px;
    }
    #btn-sec button[type="button"] {
        padding: 0.6em 0.6em 0.68em !important;
        line-height: 0.8 !important;
        font-size: 0.8rem !important;
    }
    #btn-sec button[type="submit"] {
        padding: 0.6em 0.6em 0.68em !important;
        line-height: 0.8 !important;
        font-size: 0.8rem !important;
    }
}

@media only screen and (max-width: 650px) {
    .top-bar {
        height: 27px !important;
    }
    .side-nav .hamburger {
        width: 32px;
        height: 25px;
        top: 11px;
        left: 5px;
    }
    .side-nav .hamburger .bar {
        width: 25px;
        height: 2.1px;
    }
    .side-nav .hamburger .bar:after, .side-nav .hamburger .bar:before {
        width: 25px;
        height: 2.1px;
    }
    .queue-side-nav .queuehamburger {
        top: 11px;
    }
    .queue-bar .material-icons {
        font-size: 30px !important;
    }
    #logo {
        margin-left: 27px !important;
        margin-top: 8px;
    }
    #logo img {
        height: 1.4rem !important;
    }
    .user-icon {
        position: relative;
        right: -13px;
        top: 5px;
    }
    .user-icon img {
        height: 1.9rem !important;
    }
    .gradient-container {
        top: 5px !important;
    }
    .right-list li {
        padding: 0px !important;
    }
    .left-list li {
        padding: 0px 3px !important;
    }
    .right-list {
        margin-left: 0px !important;
    }
    #followers {
        left: 100%;
    }
    #songs-section {
        top: 10px !important;
    }
}

@media only screen and (max-width: 550px) {
    #btn-sec .no-display {
        display: none !important;
    }
    #btn-sec button[type="button"] {
        width: 110px !important;
        padding: 0.5em 0.5em 0.68em !important;
    }
    #btn-sec button[type="submit"] {
        width: 40px !important;
        padding: 0.5em 0.6em 0.68em !important;
        padding-left: 0.84em !important;
    }
    .subscribe-s {
        display: block !important;
    }
    #followers {
        bottom: 13px !important;
        font-size: 12px !important;
        left: 150% !important;
    }
}

@media only screen and (max-width: 501px) {
    .gradient-container {
        top: -25px !important;
    }
    .artist-details-container {
        top: 60px !important;
    }
}

@media only screen and (max-width: 470px) {
    .right-list .ico-btn {
        display: none;
    }
    .ico-btn>.fa-heart {
        display: block;
    }
    #btn-sec button[type="button"] {
        width: 110px !important;
    }
}

@media only screen and (max-width: 420px) {
    .horz-bar {
        padding: 5px 10px !important;
    }
}

@media only screen and (max-width: 1025px) {
    .middle-sec>ul>li {
        margin-left: 0px !important;
    }
}

@media only screen and (max-width: 800px) {
    .seeker-container {
        width: 80% !important;
    }
    .time-left {
        margin-left: -5px !important;
    }
    .time-right {
        margin-right: -6px !important;
    }
    .left-sec {
        width: 25% !important;
        padding-left: 5px !important;
    }
    .music-nm {
        width: 50% !important;
    }
    .middle-sec {
        width: 40% !important;
    }
    .cross {
        left: 95% !important;
    }
    .right-sec {
        width: 25% !important;
        margin-right: 15px;
        padding-left: 0px;
        right: 5px;
    }
    .volm-container {
        margin-left: 5px !important;
    }
    .left-sec>.list-cnt>li>button {
        display: none !important;
    }
    .volm-ico {
        display: block !important;
    }
}


@media only screen and (max-width: 500px) {
    .right-sec {
        
        top: 10px;
        right: 0px !important;
    }
} 

 @media only screen and (max-width: 650px) {
    .music-nm {
        display: block !important;
    }
    .right-sec>.list-cnt {
        display: none !important;
    }
    .no-display-br {
        display: none !important;
    }
    .left-sec {
        width: 32% !important;
        height: 65px;
        margin-left: 5px;
        padding-left: 5px !important;
    }
    .music-nm {
        padding-left: 2px;
        width: auto;
        overflow: hidden;
        bottom: 7px;
    }
    .music-nm a {
        font-size: 12px !important;
        color: rgb(212, 205, 205);
    }
    .music-nm p {
        font-size: 10px !important;
    }
    .seeker-container {
        display: none !important;
    }
    .seeker-cnt-br {
        display: flex !important;
    }
    .seeker-cnt-br>.seeker-out {
        height: 1.5px;
    }
    .right-sec {
        top: 18px !important;
    }
    .left-arrow {
        display: block !important;
    }
    .left-arrow:hover .right-sec-br {
        display: block !important;
    }
    .cross {
        left: 92% !important;
    }

    .middle-sec{
        margin-left: 15px !important;
    }

    .middle-sec>ul>li{
       padding-right: 0px !important;
    }
} 

 @media only screen and (max-width: 400px) {
    .seeker-cnt-br {
        margin-left: 40px !important;
    }
}  

.cover {
    display: flex;
    /* position: relative; */
}

.cover-image {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    opacity: 0.8;
    z-index: -1;
    /* height: 100%; */
    width: 100%;
    /* height: 90%; */
    /* height:73vh */
    /* height: auto; */
}

.cover-image img {
    width: 100%;
    /* height: 50%; */
}

.artist-details-container {
    /* display: block;
    position: relative;
     
    
    width: 100% ;
    z-index: 5;
    color: white;
    opacity: 1;
    padding-bottom: 100px;
    top: 400px; */
    /* padding-top: 75px; */
    position: relative;
    /* padding-top: 26.5%; */
    margin-top: 20.5%;
    padding-bottom: 3%;
    /* padding-top: 50px; */
    /* padding-top: 100px; */
}

.gradient-container {
    background: linear-gradient(360deg, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
    position: relative;
    /* background: linear-gradient(360deg, rgb(221, 37, 37) 8.98%, rgba(0, 0, 0, 0) 100%); */
    width: 100%;
    /* padding-top: 75px; */
    /* padding-top: 2%; */
}

.artist-details {
    display: block;
    overflow: hidden;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-left: 5.5%;
}

.artist-info {
    width: 45%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /* max-width: 800px; */
    /* margin: 0px 0px 18px;  */
}

.artist-info h2 {
    margin: 0px 0px;
    font-family: acumen-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    /* border: 1px solid white; */
    display: inline-block;
    font-size: 2.7rem;
    vertical-align: middle;
}

#followers {
    line-height: 0px;
    font-size: 15px;
    display: inline-block;
    position: relative;
    left: 82%;
    bottom: 23px;
}

.country {
    line-height: 0px;
    font-size: 13px;
    padding: 0px;
    margin-bottom: 15px;
    position: absolute;
    top: 44px;
    left: 5px;
    font-weight: bold;
    /* border: 1px solid white; */
}

.about {
    padding-top: 15px;
    font-weight: 400;
    font-size: 14px;
    margin: 20px 0px;
}

.track-num {
    font-size: 15px;
    padding-bottom: 20px;
    position: relative;
}

#btn-sec {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    /* padding-top: 50px; */
    width: 100%;
    padding-bottom: 20px;
    /* background: black; */
}

.pad {
    padding-right: 4px;
    font-size: 0.9rem;
}

.fa-random, .fa-podcast {
    font-size: 1rem;
}

.cover-btn {
    display: inline-block;
    /* background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;*/
}

#btn-sec button[type="button"] {
    background: transparent;
    font-size: 0.9rem;
    border: 2px solid white;
    width: 150px;
    margin: 10px;
    margin-left: 0px;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
    white-space: nowrap;
}

#btn-sec button:hover {
    background: white;
    /* color: #13386fe0; */
    color: red;
    cursor: pointer;
}

.material-icons {}

#btn-sec button[type="submit"] {
    background-color: white;
    font-size: 0.9rem;
    border: 2px solid white;
    width: 150px;
    margin: 10px;
    margin-left: 0px;
    border-radius: 2px;
    color: red;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
    white-space: nowrap;
}

.subscribe-s {
    display: none;
}

#btn-sec button[type="submit"]:hover {
    /* border: 2px solid white; */
    /* color: #13386fe0; */
    color: black;
    cursor: pointer;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

.slit-in-diagonal-2 {
    -webkit-animation: slit-in-diagonal-2 0.45s ease-out both;
    animation: slit-in-diagonal-2 0.45s ease-out both;
}

@keyframes slit-in-diagonal-2 {
    0% {
        -webkit-transform: translateZ(-800px) rotate3d(-1, 1, 0, -90deg);
        transform: translateZ(-800px) rotate3d(-1, 1, 0, -90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    54% {
        -webkit-transform: translateZ(-160px) rotate3d(-1, 1, 0, -87deg);
        transform: translateZ(-160px) rotate3d(-1, 1, 0, -87deg);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(0) rotate3d(-1, 1, 0, 0);
        transform: translateZ(0) rotate3d(-1, 1, 0, 0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

#songs-section {
    width: 68%;
    padding: 10px;
    margin-left: 3.5%;
    box-sizing: border-box;
    display: inline-block;
    flex-direction: column;
    position: relative;
    top: -283px;
}

.section-heading {
    padding: 0px 0px;
    font-weight: 500;
    margin-left: 20px;
}

.section-heading h3 {
    line-height: 0px;
}

.list-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
}

.horz-bar {
    padding: 5px 15px;
    /* margin: 2px; */
    /* border-bottom: 0.5px solid #2f2f2f; */
    border-left: 0.5px solid transparent;
    border-right: 0.5px solid transparent;
    border-radius: 2.5px;
    cursor: pointer;
    /* border-bottom: 0.1px solid #2f2f2f;  */
    /* border-top:0.1px solid #2f2f2f;   */
}

.song-ul {
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.song-ul li {
    display: inline-block;
    /* padding: 0px 2px; */
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
    text-transform: capitalize;
}

.song-ul>li>.ico-btn>i {
    font-size: 19px;
}

.left-list {
    float: left;
    vertical-align: middle;
}

.left-list li {
    padding: 0px 5px;
}

.right-list {
    float: right;
    vertical-align: middle;
    /* border: 1px solid white; */
    margin-top: 4px;
    margin-left: 20px;
}

.right-list li {
    padding: 0px 10px;
    /* border-left: 0.5px solid #625f5f;  */
}

.index {
    font-size: 15px;
    vertical-align: middle;
    position: relative;
    font-family: 'Balsamiq Sans', cursive;
    color: rgb(224, 216, 216);
    bottom: 10px;
    /* line-height: 0px; */
    /* vertical-align:middle; */
}

.pos {
    font-size: 15px;
}

.index-play-icon {
    visibility: hidden;
    z-index: 8;
    left: 50%;
    margin: -18px 0 0 -20px;
    position: absolute;
    top: 45%;
    width: 35px;
    height: 35px;
    /* background: rgba(255, 255, 255, 0.95); */
    border-radius: 50%;
}

.horz-bar:hover {
    /* border-radius: 4px; */
    /* background-color: #1f1f1f; */
    /* background-color: #071e36;  */
    background: rgba(29, 29, 29, 0.8);
    /* border: none; */
    /* border: 1px solid transparent; */
}

.horz-bar:focus {
    /* background-color: #0a84ff; */
    background-color: rgb(20, 47, 97);
    outline: none;
    color: black;
    border-radius: 3px;
    border-bottom: 0.5px solid transparent;
}

.horz-bar:hover .index-play-icon {
    visibility: visible;
    /* background: rgba(143, 137, 133, 0.5);  */
    /* border-radius: 50%; */
}

/* .horz-bar> ul>.index>.index-play-icon:hover{
    backg
    
 */

.horz-bar:hover .pos {
    visibility: hidden;
}

.horz-bar .ico-btn {
    visibility: hidden;
}

.horz-bar:hover .ico-btn {
    visibility: visible;
}

#sound-bars {
    height: 30px;
    left: 50%;
    margin: -16px 0 0 -11px;
    position: absolute;
    top: 45%;
    width: 40px;
}

.music-bar {
    background: rgb(141, 140, 140);
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;
    animation: soundbar 0ms -800ms linear infinite alternate;
}

@keyframes soundbar {
    0% {
        opacity: .35;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 28px;
    }
}

.music-bar:nth-child(1) {
    left: 1px;
    animation-duration: 474ms;
}

.music-bar:nth-child(2) {
    left: 5px;
    animation-duration: 433ms;
}

.music-bar:nth-child(3) {
    left: 9px;
    animation-duration: 407ms;
}

.music-bar:nth-child(4) {
    left: 13px;
    animation-duration: 458ms;
}

.music-bar:nth-child(5) {
    left: 17px;
    animation-duration: 400ms;
}

/* .bar:nth-child(6)  { left: 21px; animation-duration: 427ms; } */

/* .bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 37px; animation-duration: 442ms; }   */

.thumb {
    max-width: 40px;
    overflow: hidden;
    /* margin:0px 10px;  */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    line-height: 0px;
    top: 3px;
}

.left-list li img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.song-nm a {
    text-decoration: none;
    color: rgb(238, 234, 234);
    line-height: 0px;
    font-size: 14px;
    /* font-weight: bold; */
}

.song-nm p {
    font-size: 12px;
    padding: 0px 0px;
    margin-top: 8px;
    line-height: 0px;
    color: rgb(219, 213, 213);
    margin-bottom: 5px;
}

/* .right-list>li>button{
    background-color: black;
    z-index: 2;
} */

/* .list-wrapper:nth-child(2n+1) {
    background-color: b;
} */

/* 
#list div :nth-child(1) {
    background-color: rgb(0, 0, 0);
    
} */

/* #list div:nth-child(2n+1){
     background-color: rgba(12, 12, 12, 0.6); 
   border-radius: 3px;
   border-bottom: 1px solid #2f2f2f; 

}  */

/* border: 4px solid rgb(49, 49, 49); */

/* box-shadow: 0px 0px 1px 1px rgb(49, 49, 49); */

/* box-shadow: inset 2px 2px 1px 0 rgb(32, 32, 32); */

.time {
    font-size: 13px;
    color: rgb(179, 170, 170)
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    /* display: inline-block; */
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/* Rules for using icons as black on a light background. */

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

#aside-section {
    display: inline-block;
    /* border: 1px solid white; */
    width: 24%;
    height: auto;
    position: sticky;
    top: 0;
    /* bottom: 5px; */
    padding-top: 7px;
}

/* .aside-sec-heading{
    
    font-weight: 400;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 20px;
} */

#similar-art-sec {
    /* border: 1px solid white; */
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

#simlar-artist-sec>.section-heading {
    margin-left: 5px;
}

#similar-art-sec>.sec-heading>h3 {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    padding-left: 0px;
}

#similar-art-sec>.sec-heading>span {
    display: inline-block;
    font-size: 14px;
    /* float: right; */
    position: relative;
    left: 8%;
    overflow: hidden;
    padding: 0px 5px;
}

.sec-heading {
    font-weight: 400;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    position: relative;
    border-bottom: 1px solid rgb(26, 26, 26);
}

.sec-heading h3 {
    line-height: 0px;
}

.aside-list-wrapper {
    width: 100%;
}

.horz-list>ul {
    list-style: none;
    /* border: 1px solid white; */
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    margin-bottom: 2px;
    /* align-items: center; */
    /* justify-content: space-between;   */
}

.horz-list>ul>li {
    display: inline-block;
    /* border: 1px solid white; */
    padding: 0;
    /* margin: 0; */
    text-transform: capitalize;
    position: relative;
    /* vertical-align: middle; */
    padding: 5px 5px;
    overflow: hidden;
    /* padding: 5px 10px; */
}

.song-img {
    max-width: 90px;
    /* border-radius: 50%; */
    /* border: 2px solid white; */
    overflow: hidden;
    /* margin:0px 10px;  */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    line-height: 0px;
    vertical-align: middle;
    margin-left: 5px;
}

.song-img img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    /* border-radius: 50%;  */
    /* border: 2px solid white; */
}

.ar-name {
    vertical-align: top;
    width: 50%;
}

.ar-name a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 0px
}

.ar-name p {
    font-size: 13px;
    line-height: 0px;
}

.list-icon {
    vertical-align: middle;
    /* margin-left: 65px;  */
    position: relative;
    float: right;
}

.list-icon i {
    font-size: 18px;
}

.list-icon p {
    position: relative;
    font-size: 14px;
    top: 25px;
}

#recent-sec {
    /* border: 1px solid white; */
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

/* #simlar-artist-sec > .section-heading{
    margin-left: 5px;
} */

#recent-sec>.sec-heading>h3 {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    padding-left: 0px;
}

#recent-sec>.sec-heading>span {
    display: inline-block;
    font-size: 14px;
    /* float: right; */
    position: relative;
    left: 8%;
    overflow: hidden;
    padding: 0px 5px;
}

.sec-heading {
    font-weight: 400;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    white-space: nowrap;
    position: relative;
    border-bottom: 1px solid rgb(26, 26, 26);
}

.sec-heading h3 {
    line-height: 0px;
}

#recent-song-list {
    overflow: scroll;
    overflow-x: hidden;
    height: 40vh;
    margin-top: 5px;
    padding-left: 6px;
}

#recent-song-list::-webkit-scrollbar {
    display: none;
}

.aside-list-wrapper {
    width: 100%;
}

.recent-list>ul {
    list-style: none;
    /* border: 1px solid white; */
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    margin-bottom: 2px;
    /* align-items: center; */
    /* justify-content: space-between;   */
}

.recent-list>ul>li {
    display: inline-block;
    /* border: 1px solid white; */
    padding: 0;
    /* margin: 0; */
    text-transform: capitalize;
    position: relative;
    /* vertical-align: middle; */
    padding: 5px 5.7px;
    overflow: hidden;
    /* padding: 5px 10px; */
}

.recent-img {
    max-width: 45px;
    /* border-radius: 50%; */
    /* border: 2px solid white; */
    overflow: hidden;
    /* margin:0px 10px;  */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    line-height: 0px;
    vertical-align: middle;
    /* margin-left: 5px; */
}

.recent-img img {
    width: 100%;
    /* height: 100%; */
    border-radius: 3px;
    /* border-radius: 50%;  */
    /* border: 2px solid white; */
}

.recent-sng-name {
    vertical-align: top;
    width: 51%;
}

.recent-sng-name a {
    text-decoration: none;
    color: white;
    font-size: 14.5px;
    line-height: 0px
}

.recent-sng-name p {
    font-size: 13px;
    line-height: 0px;
}

.hrt-icon {
    vertical-align: middle;
    /* margin-left: 65px;  */
    position: relative;
    float: right;
    top: 10px;
}

.hrt-icon i {
    font-size: 18px;
}

.count {
    position: relative;
    /* vertical-align: middle; */
    top: 12px;
    font-size: 16px;
}

.rank {
    /* padding-left: 9px; */
    /* margin-top: 5px;  */
    margin-left: 3px;
    visibility: visible;
}

.recent-play-icon {
    visibility: hidden;
    z-index: 9;
    left: 51%;
    margin: -29px 0 0 -16px;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    /* background: rgba(255, 255, 255, 0.95); */
    border-radius: 50%;
    overflow: hidden;
}

.recent-play-icon>a>img {
    height: 100%;
    width: 100%;
}

/* .recent-list:hover{
     border-radius: 10px; 
      background-color: #1f1f1f; 
     background-color: #071e36; 

      border: none; 
      border: 1px solid transparent; 
} */

.recent-list:focus {
    /* background-color: #0a84ff; 
    background-color:rgb(255, 136, 0) ; 
    
     color: black; 
    border-radius: 3px;
      border-bottom: 0.5px solid transparent;    */
    outline: none;
}

.recent-list:hover .recent-play-icon {
    visibility: visible;
    /* background-color: #8f8985; */
    /* background: rgba(104, 103, 103,0.7);  */
    background: rgba(143, 137, 133, 0.5);
    border-radius: 50%;
}

.recent-list>ul>.count>.recent-play-icon:hover {
    /* background-color: #0a84ff; */
    background-color: rgb(34, 82, 216);
}

.recent-list:hover .rank {
    visibility: hidden;
}

.ico-btn {
    border: none;
    background: transparent;
    transition: 0.2s;
    padding: 10px;
    border-radius: 50%;
}

.ico-btn i {
    color: rgb(241, 234, 234);
    cursor: pointer;
}

.ico-btn {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.ico-btn:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}

.ico-btn:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}

/* Music Controls */

#music-cnt:target {
    visibility: visible;
    height: 93px;
    opacity: 1;
    position: sticky;
    transition: all 0.4s ease-in-out;
}

#music-cnt {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0px;
    background: #131313;
    z-index: 999999;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
}

.cross {
    position: absolute;
    left: 97.5%;
    top: -3px;
    display: block;
}

.cross a {
    text-decoration: none;
    font-size: 10px;
    color: grey;
}

.music-player-bar {
    display: flex;
    justify-content: space-between;
    /* padding: 0px 15px; */
    
    box-sizing: border-box;
}

.list-cnt {
    margin: 0;
    padding: 0;
    height: 100%;
}

.list-cnt>li>button {
    background-color: transparent;
    border-radius: 50%;
}

.list-cnt li {
    display: inline-block;
    position: relative;
}

.thumb-pic {
    max-width: 45px;
    overflow: hidden;
    /* margin:0px 10px;  */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    line-height: 0px;
    right: 5px;
}

.thumb-pic img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.music-nm {
    padding-left: 2px;
    width: 35%;
    overflow: hidden;
    bottom: 7px;
}

.music-nm a {
    text-decoration: none;
    color: rgb(165, 161, 161);
    line-height: 0px;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    /* font-weight: bold; */
}

.music-nm p {
    font-size: 13px;
    padding: 0px 0px;
    /* margin-top: 8px; */
    line-height: 0px;
    color: rgb(158, 151, 151);
    margin-bottom: 8px;
    margin-top: 8px;
    white-space: nowrap;

}

.left-sec {
    width: 292px;
    display: inline-block;
    position: relative;
}

.left-sec ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.left-sec>ul>li>button {
    position: relative;
    bottom: 9px;
    left: 2px;
}

.middle-sec {
    width: 550px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 50%;
}

.middle-sec>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 15px;
    height: 50%;
    margin-top: 3px;
}

.middle-sec>ul>li {
    padding-right: 5px;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 50%;
}

/* <i class="pb material-icons md-light md-36">pause</i> */

.play-pause img {
    border-radius: 50%;
    border: 0.5px solid white;
}

.play-pause>.material-icons-round {
    color: rgb(224, 219, 219);
    font-size: 50px;
}

.seeker-container {
    display: flex;
    position: absolute;
    width: 80%;
    bottom: 14px;
    margin-left: 2.1%;
    margin-right: 2.1%;
    align-items: center;
    justify-content: center;
}

.seeker-out {
    /* border: 1px  solid white; */
    height: 1px;
    width: 90%;
    background-color: #404040;
    border-radius: 8px;
    /* padding: 2px; */
    z-index: -1;
    padding: 1px;
    margin: 0;
}

.seeker-in {
    position: absolute;
    width: 35%;
    background-color: #35e688;
    height: 4px;
    z-index: 1;
    border-radius: 20px;
    left: 0.5px;
    bottom: 1px;
    right: 0;
    top: 0;
}

.seeker-knob-cnt {
    position: absolute;
}

.seeker-knob {
    position: absolute;
    /* height: 15px; */
    /* width: 15px; */
    padding: 8px;
    top: -6.5px;
    left: 34.5%;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 5;
}

.right-sec {
    width: 292px;
    display: inline-block;
    position: relative;
    height: 100%;
    top: 24px;
}

.right-sec>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.right-sec>ul>li {
    margin: 3px;
}

.volm-container {
    display: block;
    position: relative;
    bottom: 3.5px;
    right: 6px;
    align-items: center;
    justify-content: center;
}

.volm-out {
    /* border: 1px  solid white; */
    height: 3px;
    width: 100px;
    background-color: #404040;
    border-radius: 8px;
    /* padding: 2px; */
    z-index: -1;
    /* padding: 1px; */
    margin: 0;
}

.volm-in {
    position: relative;
    width: 40%;
    background-color: #35e688;
    height: 4px;
    z-index: 1;
    border-radius: 8px;
    left: 0;
    /* bottom: 1px; */
    right: 0;
    top: 0;
}

.volm-knob-cnt {
    position: absolute;
}

.volm-knob {
    position: absolute;
    /* height: 15px; */
    /* width: 15px; */
    padding: 8px;
    top: -6.5px;
    left: 35.5%;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 5;
}

.expand-btn {
    /* right: 5px; */
    bottom: 5px;
    width: 33px;
    height: 33px;
    /* border-radius: 50%; */
    /* overflow: hidden; */
}

.expand-btn>button>img {
    width: 100%;
    height: 100%;
}

.left-arrow {
    display: none;
}

.left-arrow>.material-icons {
    color: #a5a5a5;
}

.list-cnt-br {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    /* display: flex; */
    position: absolute;
    height: 40px;
    right: 50px;
    top: -10px;
    width: 250px;
    background: #282828;
    align-items: center;
    vertical-align: middle;
    z-index: 5;
    border-radius: 3px;
}

.list-cnt-br>li>button {
    background-color: transparent;
    border-radius: 50%;
}

.list-cnt-br li {
    display: inline-block;
    position: relative;
}

.seeker-cnt-br {
    display: none;
    position: absolute;
    width: 80%;
    bottom: 15px;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
}

.time-left {
    position: absolute;
    font-size: 10px;
    left: -8%;
}

.time-right {
    position: absolute;
    font-size: 10px;
    right: -3%;
}

.time-left-br {
    position: absolute;
    font-size: 10px;
    left: -8%;
}

.time-right-br {
    position: absolute;
    font-size: 10px;
    right: -3%;
}

.right-sec-br {
    margin-left: 12px;
}

.right-sec-br:hover .list-cnt-br {
    display: block;
}