/*------------- Designed by PiyushPandey(2020) -----------*/

/*   [Main Stylesheet] 

Project: Music Player Project[CSS] - Online Music Player 
Version: 1.0.0 
Author: PiyushPandey

---------------****************************-----------------

[Table of contents] 
1. Body CSS
2. Loader Spinner Animation CSS 
3. Side Naviagtion Breakpoint CSS
4. Header CSS Starts
5. Top Menu Bar CSS 
6. Side breakpoint queue list CSS
7. Main CSS Starts
8. Carousel Section CSS Starts
9. Latest Release Section CSS
10.Artist Section CSS
11.Popular Stations Section CSS
12.Top Generes Section CSS
13.Genre Breakpoint Section CSS Starts
14.Muisc by Mood Section CSS 
15.Common Song Section CSS Starts
16.New Music Section / Latest English Section / Pop Section Section
17.Aside Section CSS Starts
18.Queue List CSS
19.Footer Section CSS Starts
20.Muisc Control Bar CSS 
21.Left Section CSS
22.Middle Section CSS
23.Right Section CSS
24.Right Section Breakpoint CSS 
25.Small Buttons CSS
26.KEYFRAME ANIMATIONS CSS
27.Media Queries

-------------------------------------------------------------------*/

/* Body CSS Starts */

body {
    margin: 0px;
    font-size: 20px;
    font-family: 'Balsamiq Sans', cursive;
    /* font-family: acumen-pro, sans-serif; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* background-color: #091b29;  */
    background-color: #000000;
    /* background-color: #1f1f1f; */
    /* background-color: #171717; */
    color: rgb(231, 224, 224);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #333030;
}

body::-webkit-scrollbar-thumb {
    background: rgb(70, 68, 68);
}

body::-webkit-scrollbar-thumb:hover {
    background: rgb(139, 136, 136);
}

/*Loader Spinner Animation CSS Start */

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    z-index: 99999999;
}

.spinner {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 48%;
    left: 48%;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #c94354;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

/* ======Side Naviagtion Breakpoint CSS Starts==== */

.side-nav {
    top: 0;
    left: 0;
    z-index: 9999999999;
    position: fixed;
    display: none;
}

.side-nav-list {
    position: fixed;
    left: -100%;
    top: 0;
    width: 300px;
    height: 100vh;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #313131;
    padding: 100px 15px 0;
    transition: all 0.4s linear;
}

.side-nav-item {
    display: block;
    margin: 15px 0;
    padding: 0;
    text-align: center;
}

.side-nav-link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

.margin-side-nav {
    margin-left: 12px;
    text-align: left;
}

.side-nav .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 33px;
    border-radius: 5px;
    position: absolute;
    top: 13.5px;
    left: 5px;
    z-index: 9999;
    cursor: pointer;
}

.side-nav .hamburger .bar {
    display: inline-block;
    width: 28px;
    height: 2.5px;
    border-radius: 3px;
    border-radius: 20px;
    background-color: #949494;
    position: relative;
}

.side-nav .hamburger .bar:after, .side-nav .hamburger .bar:before {
    content: '';
    position: absolute;
    width: 28px;
    height: 2.5px;
    border-radius: 20px;
    background-color: #949494;
    top: -8px;
    transition: all 0.3s linear;
}

.side-nav .hamburger .bar:after {
    top: 8px;
}

.side-nav .hamburger.close .bar {
    height: 0;
}

.side-nav .hamburger.close .bar:after {
    top: -2px;
    background-color: #fff;
    transform: rotate(135deg);
}

.side-nav .hamburger.close .bar:before {
    top: -2px;
    background-color: #fff;
    transform: rotate(45deg);
}

.slide-in {
    left: 0;
}

.side-bar-search {
    margin-right: 5px;
}

.side-bar-search>.search-form {
    width: 240px;
    height: 35px;
    padding: 0px 5px;
    padding-left: 30px;
    font-size: 16px;
    line-height: 35px;
    color: #777777;
    background-color: rgb(26, 26, 26);
    border-radius: 2px;
    border: 2px solid transparent;
    border-bottom: 1px solid grey;
    box-shadow: 0px 0px 10px rgba(29, 29, 29, 0.55);
}

.side-bar-search>.search-form:focus {
    outline: transparent;
    background-color: transparent;
    color: rgb(228, 216, 216);
}

.side-bar-search>.search-icon {
    left: -41%;
    top: 31px;
}

.side-bar-search>.mic-icon {
    position: relative;
    right: -42%;
    bottom: 31px;
}

/* =========Header CSS Starts========= */

/* ==========Top Menu Bar CSS Starts======== */

.top-bar {
    display: flex;
    height: 45px;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    top: 0px;
    background-color: #1f1f1f;
    z-index: 999;
}

#logo {
    padding: 0px 0px;
    margin: 0;
}

#logo img {
    width: auto;
    height: 1.8rem;
}

.fav-top-bar {
    font-family: sans-serif;
    text-decoration: none;
    font-size: 1.1rem;
    margin-left: 40px;
    align-items: center;
}

.fav-top-bar i {
    color: #cb1717;
}

.top-bar-left {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.top-bar-right {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.top-bar-search {
    padding: 10px;
}

.search-form {
    height: 33px;
    padding: 0px 40px;
    font-size: 14px;
    line-height: 35px;
    color: #777777;
    background-color: rgb(26, 26, 26);
    border-radius: 2px;
    border: 2px solid transparent;
    box-shadow: 0px 0px 10px rgba(29, 29, 29, 0.55);
}

.search-form:focus {
    /* box-shadow: 0px 0px 10px rgba(59, 200, 231, 0.55); */
    border: 1.5px solid white;
    outline: none;
    background-color: transparent;
    color: rgb(223, 213, 213);
}

.search-icon {
    position: relative;
    left: 35px;
    top: 2px;
}

.mic-icon {
    position: relative;
    right: 30px;
    top: 2px;
}

.mic-icon i:hover {
    color: honeydew;
}

.color-grey {
    color: grey;
}

.notification-bell {
    padding: 10px;
}

.fa-circle {
    position: absolute;
    color: red;
    font-size: 7px;
    left: 73px;
    bottom: 16px;
    z-index: 5;
}

.user-icon {
    height: 3rem;
    width: 3rem;
    padding: 0px 20px;
}

.user-icon img {
    border-radius: 50%;
    width: auto;
    height: 2.8rem;
}

#header-btn button[type="button"] {
    background: transparent;
    font-size: 0.9rem;
    border: 2px solid white;
    width: 100px;
    margin: 10px;
    margin-left: 0px;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
    white-space: nowrap;
}

#header-btn button:hover {
    background: white;
    /* color: #13386fe0; */
    color: black;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

/* ========= Side breakpoint queue list CSS Starts======== */

.queue-side-nav {
    top: 0;
    right: 0;
    z-index: 9999999999;
    position: fixed;
    display: none;
}

.queue-side-nav-list {
    position: fixed;
    right: -100%;
    top: 0;
    width: 322px;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #313131;
    padding: 95px 5px 5px;
    transition: all 0.5s linear;
}

.queue-side-nav-list>.queue-list>.sec-heading {
    border-bottom: 0.5px solid #555353;
}

.queue-side-nav-list>.queue-list {
    margin-left: 20px;
}

.queue-side-nav .queuehamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 33px;
    border-radius: 5px;
    position: absolute;
    top: 18px;
    right: 5px;
    z-index: 999;
    cursor: pointer;
}

.queue-bar>.material-icons {
    color: #949494;
}

.slide-in-right {
    right: 0;
}

/* ===============Main CSS Starts===================== */

#main-section {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.section {
    width: 74%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 0px;
}

.section-heading {
    font-weight: 400;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 8px;
}

.section-heading h3 {
    line-height: 0px;
}

/* ====Carousel Section CSS Starts==== */

#carsl {
    margin-top: 70px;
    width: 70%;
    height: auto;
}

.carousel {
    position: relative;
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked+.carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
    border-radius: 2px;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked~.control-1, #carousel-2:checked~.control-2, #carousel-3:checked~.control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    font-size: 28px;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 30px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet, #carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet, #carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

/* =======Latest Release Section CSS Starts====== */

.latest-release-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    padding-left: 10px;
    justify-content: flex-start;
}

.album-container {
    max-width: 244.7px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    margin: 0px 17px;
    margin-left: 0px;
    display: grid;
}

.album-art {
    border-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

.album-art img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: block;
}

.song-info h4 {
    width: auto;
    font-size: 1rem;
    font-style: normal;
    line-height: 0px;
    font-weight: 100px;
}

.song-info a {
    text-decoration: none;
    color: inherit;
    line-height: 0px;
    font-size: 1rem;
    width: 100%;
    font-weight: 100;
}

.song-info p {
    line-height: 0px;
    font-size: 0.8rem;
    color: #bcbcbc;
}

.no-list-style {
    list-style: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.no-list-style li {
    font-weight: 100;
    font-size: 0.9rem;
}

.no-list-style li a {
    list-style: none;
    color: #e0dcdc;
    text-decoration: none;
    font-size: 13px;
}

.no-list-style li :hover {
    color: #23d160;
}

.dropdown-list {
    margin: 0;
    display: none;
    position: absolute;
    z-index: 500;
    height: 160px;
    width: 135px;
    background-color: rgb(35, 35, 35);
    left: 32%;
    top: 13%;
    padding: 3px;
    opacity: 1;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 4px transparent;
}

.dropdown-list ul {
    margin: 0.2rem 0.1rem;
    text-align: left;
    padding: 0px 0.8rem;
    padding-left: 0.3rem;
}

.dropdown-list li {
    margin: 0.6rem 0px;
}

.option-icon {
    position: absolute;
    top: 68%;
    left: 81.5%;
    cursor: pointer;
    font-size: 12px;
    opacity: 1;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    background: rgba(92, 89, 87, 0.5);
    overflow: hidden;
    visibility: hidden;
    transition: transform 0.1s ease-in;
}

.option-icon i {
    position: relative;
    left: 7.6px;
    top: 6.8px;
}

.option-icon a {
    text-decoration: none;
    color: rgb(236, 230, 230);
}

.play-icon {
    position: absolute;
    top: 68%;
    left: 6%;
    cursor: pointer;
    width: 27px;
    height: 27px;
    font-size: 12px;
    opacity: 1;
    z-index: 444;
    border-radius: 50%;
    background: rgba(92, 89, 87, 0.5);
    overflow: hidden;
    visibility: hidden;
    transition: transform 0.1s ease-in;
}

.play-icon a {
    text-decoration: none;
    color: rgb(236, 230, 230);
}

.play-icon i {
    position: relative;
    left: 9.1px;
    top: 6.6px;
}

.dropdown-menu:hover .dropdown-list {
    display: block;
    position: absolute;
}

.option-icon:hover .dropdown-menu {
    visibility: visible;
}

.option-icon:hover {
    background: #259e4f;
}

.play-icon:hover {
    background: #259e4f;
}

.album-art .option-icon {
    animation-name: scale-out-low;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.album-art .play-icon {
    animation-name: scale-out-low;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.album-container:hover .option-icon {
    visibility: visible;
    animation-name: scale-in-low;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.album-container:hover .play-icon {
    visibility: visible;
    animation-name: scale-in-low;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.album-art img {
    animation-name: thumbnail6-rev;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-timing-function: linear;
}

.album-art:hover img {
    animation-name: thumbnail-preview-6;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-timing-function: linear;
}

/* ======Artist Section CSS Starts======= */

.artist-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    padding-left: 1px;
    justify-content: flex-start;
}

.artist {
    max-width: 195px;
    overflow: hidden;
    margin-top: 10px;
    margin: 8px;
    margin-right: 0;
    margin-left: 12px;
    position: relative;
    display: inline-block;
}

.artist-img {
    border-radius: 50%;
    position: relative;
    display: inline-block;
    transition: 0.5s;
    background-size: contain;
    background-repeat: no-repeat;
    border: 4px solid white;
}

.artist img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}

.artist-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(to bottom, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
    border-radius: 50%;
    display: none;
}

.artist-info {
    text-align: center;
}

.artist-info>a:hover {
    text-decoration: underline;
}

.artist-info a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    line-height: 0px;
    font-size: 0.9rem;
}

.ar-play {
    position: absolute;
    top: 35.3%;
    left: 38%;
    cursor: pointer;
    width: 50px;
    display: none;
}

.ar-play img {
    width: 100%;
    height: 100%;
}

.ar-play a {
    color: white;
}

.artist .artist-img:after {
    animation-name: thumbnail1-rev;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.artist:hover .artist-img:after {
    display: inline-block;
    animation-name: thumbnail-preview-1;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.artist:hover .ar-play {
    display: block;
    animation-name: scale;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

/* =======Popular Stations Section CSS Starts======= */

#stn {
    width: 70%;
    display: flex;
}

.stn-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: rgb(36, 36, 36);
    padding-left: 5px;
    margin-left: 5px;
}

.stn-info {
    max-width: 152px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin-left: 5px;
}

.stn-logo img {
    width: 100%;
    height: 100%;
}

.stn-img {
    display: inline-block;
    height: 142px;
    width: 142px;
    margin-top: 1.9rem;
    margin-left: 5px;
    border-radius: 50%;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
}

.stn-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.stn-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(90deg, rgba(253, 29, 29, 0.3) 50%, rgba(252, 176, 69, 0.3) 100%);
    border-radius: 50%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.stn-info a {
    text-decoration: none;
    position: relative;
    font-size: 1rem;
    bottom: 87px;
    left: 55px;
    color: white;
    z-index: 500;
}

/* =====Top Generes Section CSS Starts====== */

.genre-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    max-width: 76%;
    padding: 5px;
    margin-bottom: 10px;
    height: auto;
}

.rom-ctn {
    max-width: 31.3%;
    max-height: 343px;
    overflow: hidden;
    margin: 5px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
}

.rom-img {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.rom-img img {
    width: 100%;
    height: 100%;
}

#rom-name {
    position: relative;
    bottom: 35px;
    left: 7px;
}

.mid-genre {
    max-width: 730px;
    max-height: 350px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.mid-genre-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 730px;
    max-height: 350px;
    position: relative;
    overflow: hidden;
}

.retro-ctn {
    max-width: 22.8%;
    max-height: 10.4rem;
    overflow: hidden;
    margin: 5px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
}

.retro-img {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.retro-img img {
    width: 100%;
    height: 100%;
}

#retro-name {
    position: relative;
    bottom: 35px;
    left: 7px;
}

.hop-ctn {
    max-width: 46%;
    max-height: 10.4rem;
    overflow: hidden;
    margin: 5px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
}

.hop-img {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.hop-img img {
    width: 100%;
    height: 100%;
}

#hop-name {
    position: relative;
    bottom: 35px;
    left: 7px;
}

.dance-ctn {
    max-width: 46%;
    max-height: 10.4rem;
    overflow: hidden;
    margin: 5px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
}

.dance-img {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.dance-img img {
    width: 100%;
    height: 100%;
}

#dance-name {
    position: relative;
    bottom: 35px;
    left: 7px;
}

.edm-ctn {
    max-width: 22.8%;
    max-height: 10.4rem;
    overflow: hidden;
    margin: 5px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
}

.edm-img {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.edm-img img {
    width: 100%;
    height: 100%;
}

#edm-name {
    position: relative;
    bottom: 35px;
    left: 7px;
}

.rock-ctn {
    max-width: 23%;
    max-height: 21.6rem;
    overflow: hidden;
    margin: 5px;
    margin-left: 5px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    bottom: 177px;
}

.rock-img {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.rock-img img {
    width: 100%;
    height: 100%;
}

#rock-name {
    position: relative;
    bottom: 36px;
    left: 7px;
}

.bottom-genre {
    max-width: 1070px;
    max-height: 210px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.bottom-genre-container {
    display: flex;
    flex-wrap: no-wrap;
    max-width: 1070px;
    height: auto;
}

.pride-ctn {
    max-width: 32.6%;
    max-height: 200px;
    overflow: hidden;
    margin: 5px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
}

.pride-img {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.pride-img img {
    width: 100%;
    height: 100%;
}

#pride-name {
    position: relative;
    bottom: 37px;
    left: 7px;
}

.elec-ctn {
    max-width: 64.8%;
    max-height: 200px;
    overflow: hidden;
    margin: 5px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
}

.elec-img {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.elec-img img {
    width: 100%;
    height: 100%;
}

#elec-name {
    position: relative;
    bottom: 37px;
    left: 7px;
}

.genre-name a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}

.hov-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    display: none;
    background: linear-gradient(90deg, rgba(253, 29, 29, 0.3) 50%, rgba(252, 176, 69, 0.3) 100%);
    border-radius: 10px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.ctn .hov-img img {
    animation-name: scale-out;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.ctn:hover .hov-img:after {
    display: inline-block;
    animation-name: thumbnail-preview-2;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.ctn:hover .hov-img img {
    animation-name: scale-in;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* ======Genre Breakpoint Section CSS Starts====== */

.genre-breakpoint-option {
    display: none;
    width: 100%;
}

.genre-br-song {
    max-width: 250px;
    overflow: hidden;
    margin-top: 10px;
    margin: 7.5px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 5px;
    display: grid;
}

.genre-br-song img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: block;
}

.gen-nm {
    display: inline-block;
    line-height: 0px;
    padding: 0px;
    position: absolute;
    top: 35%;
    left: 36.1%;
}

.gen-nm-info {
    float: left;
    line-height: 0px;
    padding: 0px;
}

.gn-nm-info p {
    line-height: 0px;
}

.gen-nm a {
    text-decoration: none;
    color: white;
    line-height: 0px;
    font-size: 1.2rem;
    font-weight: bold;
}

/* ========Muisc by Mood Section CSS Starts=======  */

.song-section {
    width: 76%;
}

.latest-eng-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: flex-start;
    padding-left: 0px;
}

.mood-song {
    max-width: 250px;
    overflow: hidden;
    margin-top: 10px;
    margin: 7.5px;
    margin-bottom: 0px;
    position: relative;
    border-radius: 5px;
    display: grid;
}

.mood-song img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: block;
}

.song-img {
    position: relative;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.info:hover a {
    text-decoration: underline;
}

/* ===========Common Song Section CSS Starts========== */

/* =========1.New Music Section======== */

/* =======2.Latest English Section ===========*/

/* ========3.Pop Section Section =============*/

.eng-song {
    max-width: 196px;
    overflow: hidden;
    margin-top: 10px;
    margin: 7.5px;
    margin-bottom: 0px;
    position: relative;
    border-radius: 5px;
    display: grid;
}

.eng-song img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: block;
}

.song-play {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    z-index: 20;
    left: 5%;
    top: 64%;
    display: none;
    overflow: hidden;
    opacity: 1;
}

.song-play:hover img {
    background-color: #1db954;
    border-radius: 50%;
}

.song-play img {
    height: 100%;
    width: 100%;
}

.song-play a {
    color: white;
    text-decoration: none;
}

.song-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(to bottom, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
    border-radius: 5px;
    display: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.eng-song .song-img img {
    animation-name: scale-out, thumbnail6-rev;
    animation-duration: 0.2s, 0.2s;
    animation-iteration-count: 1, 1;
    animation-fill-mode: both, both;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94), cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.eng-song:hover .song-img img {
    animation-name: scale-in, thumbnail-preview-6;
    animation-duration: 0.4s, 0.4s;
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards, both;
    animation-play-state: running, running;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94), cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.eng-song:hover .song-play {
    display: block;
    background-color: rgba(105, 101, 101);
    animation-name: scale-in-center;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.song-details {
    display: inline-block;
    line-height: 0px;
    padding: 0px;
    position: relative;
    top: -3px;
}

.info {
    float: left;
    line-height: 0px;
    padding: 0px;
}

.info p {
    line-height: 0px;
    color: #bcbcbc;
}

.song-details a {
    text-decoration: none;
    color: white;
    line-height: 0px;
    font-size: 0.9rem;
    font-weight: 300px;
}

.ar {
    font-size: 0.75rem;
}

.time {
    display: inline-block;
    float: right;
    font-size: 0.8rem;
    margin-top: 20px;
    padding-right: 5px;
    vertical-align: top;
}

/* Aside Section CSS Starts*/

#aside-section {
    display: inline-grid;
    width: 25%;
    position: sticky;
    height: auto;
    padding-top: 7px;
    padding-left: 15px;
    left: 75%;
    bottom: 35px;
    top: 0px;
}

/* =====Queue List CSS==== */

.queue-list {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

.queue-list>.sec-heading>h3 {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    padding-left: 0px;
}

.queue-list>.sec-heading>span {
    display: inline-block;
    position: relative;
    left: 7%;
    overflow: hidden;
    padding: 0px 5px;
}

.queue-list>.sec-heading>span>a {
    text-decoration: none;
    color: rgb(233, 233, 233);
    font-size: 15px;
}

.sec-heading {
    font-weight: 400;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 88%;
    position: relative;
    border-bottom: 0.5px solid #2f2f2f;
    margin-bottom: 8px;
}

.sec-heading h3 {
    line-height: 0px;
}

#recent-song-list {
    overflow: scroll;
    overflow-x: hidden;
    height: 75vh;
}

#recent-song-list::-webkit-scrollbar {
    display: none;
}

.aside-list-wrapper {
    width: 100%;
}

.recent-list>ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    margin-bottom: 5px;
}

.recent-list>ul>li {
    display: inline-block;
    padding: 0;
    text-transform: capitalize;
    position: relative;
    padding: 5px 5px;
    overflow: hidden;
}

.recent-img {
    max-width: 45px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    line-height: 0px;
    vertical-align: middle;
}

.recent-img img {
    width: 100%;
    border-radius: 3px;
}

.recent-sng-name {
    vertical-align: top;
    width: 51%;
}

.recent-sng-name a {
    text-decoration: none;
    color: white;
    font-size: 14.5px;
    line-height: 0px
}

.recent-sng-name p {
    font-size: 13px;
    line-height: 0px;
}

.heart-icon>.ico-btn {
    border-radius: 50%;
}

.hrt-icon {
    vertical-align: middle;
    position: relative;
    float: right;
    top: 10px;
    border-radius: 50%;
}

.hrt-icon i {
    font-size: 18px;
    color: white;
    border-radius: 50%;
}

.count {
    position: relative;
    vertical-align: middle;
    top: 12px;
    font-size: 16px;
}

.rank {
    margin-left: 6px;
    visibility: visible;
}

.recent-play-icon {
    visibility: hidden;
    z-index: 9;
    left: 51%;
    margin: -29px 0 0 -16px;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.recent-play-icon>a>img {
    height: 100%;
    width: 100%;
}

.recent-list:focus {
    outline: none;
}

.recent-list:hover .recent-play-icon {
    visibility: visible;
    background: rgba(143, 137, 133, 0.5);
    border-radius: 50%;
}

.recent-list>ul>.count>.recent-play-icon:hover {
    background-color: #1db954;
}

.recent-list:hover .rank {
    visibility: hidden;
}

/* =====Material Icons CSS====== */

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
    color: #a5a5a5;
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

/* =======Footer Section CSS Starts===== */

#music-cnt:target {
    visibility: visible;
    height: 85px;
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

#music-cnt {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background: #131313;
    z-index: 99999999;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
}

.cross {
    position: absolute;
    left: 97.5%;
    top: -3px;
    display: block;
}

.cross a {
    text-decoration: none;
    font-size: 10px;
    color: grey;
}

/*=====Muisc Control Bar CSS Starts======  */

.music-player-bar {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

/* ====Left Section CSS====  */

.left-sec {
    width: 292px;
    display: inline-block;
    position: relative;
}

.left-sec ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.left-sec>ul>li>button {
    position: relative;
    bottom: 9px;
    left: 2px;
}

.list-cnt {
    margin: 0;
    padding: 0;
    height: 100%;
}

.list-cnt>li>button {
    background-color: transparent;
    border-radius: 50%;
}

.list-cnt li {
    display: inline-block;
    position: relative;
}

.thumb {
    max-width: 45px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    line-height: 0px;
    right: 5px;
}

.thumb img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.song-nm {
    padding-left: 2px;
    width: 35%;
    overflow: hidden;
    bottom: 7px;
}

.song-nm a {
    text-decoration: none;
    color: rgb(165, 161, 161);
    line-height: 0px;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
}

.song-nm p {
    font-size: 13px;
    padding: 0px 0px;
    line-height: 0px;
    color: rgb(158, 151, 151);
    margin-bottom: 8px;
    margin-top: 8px;
    white-space: nowrap;
}

/* ======Middle Section CSS===== */

.middle-sec {
    width: 550px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 50%;
}

.middle-sec>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 15px;
    height: 50%;
    margin-top: 3px;
}

.middle-sec>ul>li {
    padding-right: 5px;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 50%;
}

.play-pause img {
    border-radius: 50%;
}

.play-pause>.material-icons-round {
    color: rgb(224, 219, 219);
    font-size: 50px;
}

.seeker-cnt {
    display: flex;
    position: absolute;
    width: 80%;
    bottom: 14px;
    margin-left: 2.1%;
    margin-right: 2.1%;
    align-items: center;
    justify-content: center;
}

.seeker-out {
    height: 1px;
    width: 90%;
    background-color: #404040;
    border-radius: 8px;
    z-index: -1;
    padding: 1px;
    margin: 0;
}

.seeker-in {
    position: absolute;
    width: 35%;
    background-color: #35e688;
    height: 4px;
    z-index: 1;
    border-radius: 20px;
    left: 0.5px;
    bottom: 1px;
    right: 0;
    top: 0;
}

.seeker-knob-cnt {
    position: absolute;
}

.seeker-knob {
    position: absolute;
    padding: 8px;
    top: -6.5px;
    left: 34.5%;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 5;
}

.time-left {
    position: absolute;
    font-size: 10px;
    left: -8%;
}

.time-right {
    position: absolute;
    font-size: 10px;
    right: -3%;
}

.seeker-cnt-br {
    display: none;
    position: absolute;
    width: 80%;
    bottom: 15px;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
}

.time-left-br {
    position: absolute;
    font-size: 10px;
    left: -8%;
}

.time-right-br {
    position: absolute;
    font-size: 10px;
    right: -3%;
}

/* ======Right Section CSS===== */

.right-sec {
    width: 292px;
    display: inline-block;
    position: relative;
    height: 100%;
    top: 24px;
}

.right-sec>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.right-sec>ul>li {
    margin: 3px;
}

.volm-cnt {
    display: block;
    position: relative;
    bottom: 3.5px;
    right: 6px;
    align-items: center;
    justify-content: center;
}

.volm-out {
    height: 3px;
    width: 100px;
    background-color: #404040;
    border-radius: 8px;
    z-index: -1;
    margin: 0;
}

.volm-in {
    position: relative;
    width: 40%;
    background-color: #35e688;
    height: 4px;
    z-index: 1;
    border-radius: 8px;
    left: 0;
    right: 0;
    top: 0;
}

.volm-knob-cnt {
    position: absolute;
}

.volm-knob {
    position: absolute;
    padding: 8px;
    top: -6.5px;
    left: 35.5%;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 5;
}

.expand-btn {
    right: 5px;
    bottom: 1px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    overflow: hidden;
}

.expand-btn>button>img {
    width: 100%;
    height: 100%;
}

/* ======Right Section Breakpoint CSS=======*/

.left-arrow {
    display: none;
}

.left-arrow>.material-icons {
    color: #a5a5a5;
}

.list-cnt-br {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    position: absolute;
    height: 40px;
    right: 50px;
    top: -10px;
    width: 250px;
    background: #282828;
    align-items: center;
    vertical-align: middle;
    z-index: 5;
    border-radius: 3px;
}

.list-cnt-br>li>button {
    background-color: transparent;
    border-radius: 50%;
}

.list-cnt-br li {
    display: inline-block;
    position: relative;
}

.right-sec-br {
    margin-left: 12px;
}

.right-sec-br:hover .list-cnt-br {
    display: block;
}

/* ====Small Buttons CSS==== */

.ico-btn {
    border: none;
    background: transparent;
    transition: 0.2s;
    padding: 4px;
}

.ico-btn i {
    cursor: pointer;
}

.ico-btn {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.ico-btn:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, rgb(138, 132, 132) 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}

.ico-btn:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}

@keyframes thumbnail-preview-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0, 0, 1);
        transform: scale3d(0, 0, 1)
    }
    to {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@keyframes thumbnail1-rev {
    0% {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
    to {
        opacity: 0;
        -webkit-transform: scale3d(0, 0, 1);
        transform: scale3d(0, 0, 1)
    }
}

@keyframes scale {
    0% {
        transform: scale3d(0, 0, 1)
    }
    100% {
        transform: scaleX(1)
    }
}

@keyframes thumbnail6-rev {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}

@keyframes thumbnail-preview-6 {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.6;
    }
}

@keyframes size {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.7);
    }
}

@keyframes shape {
    from {
        border-radius: 20px;
    }
    to {
        border-radius: 20px;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1.3);
    }
    to {
        transform: rotate(360deg) scale(1);
    }
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

@keyframes thumbnail-preview-2 {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes thumbnail-preview-4 {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    to {
        opacity: 1;
        transform: scale(1.2);
    }
}

@-webkit-keyframes thumbnail-preview-3 {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes thumbnail-preview-3 {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@-webkit-keyframes wobble-horizontal {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px)
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes wobble-horizontal {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px)
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes wobble-horizontal-inverse {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px)
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes wobble-horizontal-inverse {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px)
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes slide {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

.slide-in-bck-center {
    -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-ver-center {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes slide-in-bck-center {
    0% {
        -webkit-transform: translateZ(600px);
        transform: translateZ(600px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 0.7;
    }
}

@keyframes scale-in {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0.9;
    }
}

@keyframes scale-in-low {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 1;
    }
}

@keyframes scale-out-low {
    0% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes scale-in-1 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@keyframes scale-out {
    0% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

/* =========Media Queries Start======== */

@media only screen and (max-width: 1090px) {
    #logo {
        margin-left: 35px !important;
    }
    #logo img {
        height: 1.7rem !important;
    }
    .top-bar-right {
        margin-right: 65px !important;
    }
    .user-icon {
        margin-left: 35px !important;
        height: 2.5rem;
        width: 2rem;
        padding: 0px 20px;
        padding-right: 0px;
    }
    .user-icon img {
        height: 2.4rem !important;
    }
    .notification-bell {
        display: none !important;
    }
    .queue-side-nav {
        display: block !important;
    }
    .side-nav {
        display: block !important;
    }
    .top-bar-left>.fav-top-bar {
        display: none !important;
    }
    .top-bar-right>.top-bar-search {
        display: none !important;
    }
    #carsl {
        width: 98% !important;
        height: auto;
        margin-top: 50px !important;
    }
    .section {
        width: 100% !important;
    }
    #genre {
        display: none !important;
    }
    .genre-breakpoint-option {
        display: block !important;
    }
    .latest-release-container {
        justify-content: space-evenly !important;
    }
    .artist-container {
        justify-content: space-evenly !important;
    }
    .artist {
        max-width: 180px !important;
    }
    .ar-play {
        top: 33% !important;
        left: 36% !important;
    }
    .stn-container {
        justify-content: space-evenly !important;
    }
    .song-section {
        width: 100% !important;
    }
    .latest-eng-container {
        justify-content: space-evenly !important;
    }
    #aside-section {
        display: none !important;
    }
}

@media only screen and (max-width: 1025px) {
    .middle-sec>ul>li {
        margin-left: 0px !important;
    }
}

@media only screen and (max-width: 800px) {
    .seeker-cnt {
        width: 80% !important;
    }
    .time-left {
        margin-left: -5px !important;
    }
    .time-right {
        margin-right: -6px !important;
    }
    .left-sec {
        width: 25% !important;
        padding-left: 5px !important;
    }
    .song-nm {
        width: 50% !important;
    }
    .middle-sec {
        width: 40% !important;
    }
    .cross {
        left: 95% !important;
    }
    .right-sec {
        width: 25% !important;
        margin-right: 15px;
        padding-left: 0px;
        right: 5px;
    }
    .volm-cnt {
        margin-left: 5px !important;
    }
    .left-sec>.list-cnt>li>button {
        display: none !important;
    }
    .volm-ico {
        display: block !important;
    }
}

@media only screen and (max-width: 650px) {
    .song-nm {
        display: block !important;
    }
    .right-sec>.list-cnt {
        display: none !important;
    }
    .no-display-br {
        display: none !important;
    }
    .left-sec {
        width: 40% !important;
        height: 65px;
        margin-left: 10px;
        padding-left: 5px !important;
    }
    .song-nm {
        padding-left: 2px;
        width: auto;
        overflow: hidden;
        bottom: 7px;
    }
    .song-nm a {
        font-size: 12px !important;
        color: rgb(212, 205, 205);
    }
    .song-nm p {
        font-size: 10px !important;
    }
    .seeker-cnt {
        display: none !important;
    }
    .seeker-cnt-br {
        display: flex !important;
    }
    .seeker-cnt-br>.seeker-out {
        height: 1.5px;
    }
    .right-sec {
        top: 18px !important;
    }
    .left-arrow {
        display: block !important;
    }
    .left-arrow:hover .right-sec-br {
        display: block !important;
    }
    .cross {
        left: 92% !important;
    }
}

@media only screen and (max-width: 601px) {
    .spinner {
        top: 43.5% !important;
        left: 43.5% !important;
        width: 55px !important;
        height: 55px !important
    }
    .top-bar {
        height: 27px !important;
    }
    .side-nav .hamburger {
        width: 32px;
        height: 25px;
        top: 11px;
        left: 5px;
    }
    .side-nav .hamburger .bar {
        width: 25px;
        height: 2.1px;
    }
    .side-nav .hamburger .bar:after, .side-nav .hamburger .bar:before {
        width: 25px;
        height: 2.1px;
    }
    .queue-side-nav .queuehamburger {
        top: 11px;
    }
    .queue-bar .material-icons {
        font-size: 30px !important;
    }
    #logo {
        margin-left: 27px !important;
        margin-top: 8px;
    }
    #logo img {
        height: 1.4rem !important;
    }
    .user-icon {
        position: relative;
        right: -13px;
        top: 5px;
    }
    .user-icon img {
        height: 1.9rem !important;
    }
    main {
        margin: 3px !important;
        font-size: 15px !important;
    }
    #carsl {
        width: 100% !important;
        margin-top: 22px !important;
    }
    .section {
        padding: 0px !important;
    }
    .latest-release-container {
        padding: 0px !important;
    }
    .album-container {
        max-width: 185px !important;
    }
    .play-icon {
        top: 60.5% !important;
    }
    .option-icon {
        top: 60.5% !important;
        left: 79.5% !important;
    }
    .dropdown-list {
        width: 110px !important;
        height: 135px !important;
        left: 36% !important;
        top: 2% !important;
    }
    .artist {
        max-width: 150px !important;
    }
    .artist-container {
        padding: 0px !important;
    }
    .ar-play {
        top: 31% !important;
        left: 34% !important;
    }
    .latest-eng-container {
        padding: 0px !important;
    }
    .stn-info a {
        bottom: 81px !important;
    }
}

@media only screen and (max-width: 580px) {
    .genre-br-song {
        max-width: 182px !important;
        margin: 5px 0px 5px 3px;
    }
    .song-info {
        position: relative;
        margin-top: -7px !important;
    }
    .song-info a {
        font-size: 14px !important;
    }
    .song-info p {
        font-size: 12px !important;
    }
    .mood-song {
        max-width: 182px !important;
        margin: 5px 0px 0px 3px;
    }
    .gen-nm a {
        font-size: 15px !important;
    }
    .album-container {
        max-width: 187px !important;
        margin: 3px !important;
    }
    .play-icon {
        top: 61% !important;
    }
    .option-icon {
        top: 61% !important;
        left: 77% !important;
    }
    .artist-container {
        padding: 0px !important;
    }
    .artist {
        margin-left: 0px !important;
        margin: 3px !important;
        max-width: 167px !important;
    }
    .artist-info a {
        font-size: 14px !important;
    }
    .stn-container {
        margin: 0px 5px !important;
        padding: 0 !important;
    }
    .eng-song {
        max-width: 185px !important;
        margin: 0px !important;
        padding: 3px !important;
    }
    .song-play {
        top: 65% !important;
        left: 8% !important;
    }
    .dropdown-list {
        width: 130px !important;
        height: 135px !important;
        left: 11% !important;
        top: 3% !important;
    }
    .latest-eng-container {
        padding: 0px !important;
    }
    .gen-nm {
        top: 32.5% !important;
        left: 32% !important;
    }
    .gen-nm a {
        font-size: 1rem !important;
    }
    .ar-play {
        top: 33.5% !important;
        left: 36% !important;
    }
}

@media only screen and (max-width: 500px) {
    .right-sec {
        width: 115px !important;
        top: 10px;
        right: 0px !important;
    }
    .dropdown-list {
        width: 130px !important;
        height: 135px !important;
        left: 11% !important;
        top: 3% !important;
    }
}

@media only screen and (max-width: 409px) {
    .genre-br-song {
        max-width: 163px !important;
    }
    .album-container {
        max-width: 166px !important;
        margin: 0px !important;
    }
    .eng-song {
        max-width: 165px !important;
        margin: 0px !important;
        padding: 5px !important;
    }
    .mood-song {
        max-width: 163px !important;
        margin: 5px 0px 0px 3px;
    }
    .dropdown-list {
        width: 130px !important;
        height: 135px !important;
        left: 9% !important;
        top: -2% !important;
    }
    .song-play {
        top: 62% !important;
        left: 8% !important;
    }
}

@media only screen and (max-width: 400px) {
    .seeker-cnt-br {
        margin-left: 45px !important;
    }
}